<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pavana HA</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://use.typekit.net/qvx8rmi.css" />
    <link rel="stylesheet" href="style.css" />
    <script
      src="https://kit.fontawesome.com/1e5abb997e.js"
      crossorigin="anonymous"
    ></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3507316425044293"
        crossorigin="anonymous"></script>
  </head>
  <body id="app">
    <div id="header">
      <div @Click="scroll('main')" id="name">Pavana HA</div>
      <div id="menu">
        <ul class="menu-list">
          <li
            v-for="(item, index) in menulist"
            :key="index"
            :style="{ animationDelay: `${index * 0.3}s` }"
            @click="scroll(item.ref)"
          >
            <span>{{ item.name }}</span>
          </li>
        </ul>
      </div>
      <div class="contacts">
        <ul>
          <li v-for="(item,key) in contactlist">
            <i :class="item.class" style="color: #027e1b"></i>
            <span>{{ item.text }}</span>
          </li>
        </ul>
      </div>
    </div>
    <div ref="main" id="main">
      <div class="left">
        <p style="font-size: 44px;">< HI, /></p>
        <p style="font-size: 64px;">< I'm Pavan, /></p>
        <p class="fsd">< Full-Stack Developer /></p>
        <p>< Technocrat /></p>
        <p>< 4920646f6e2774206b6e6f77207768617420656c7365 /></p>
      </div>
      <div class="right">
        <div class="circle">
          <img src="images/coder1.png" />
        </div>
      </div>
    </div>
    <hr />
    <div ref="about" id="about">
      <p>Hello, I'm Pavana H A, a 2023 graduate with a BE in Information Science and Engineering from Ramaiah Institute of Technology. My journey in technology began with a strong foundation in programming languages like Java, Python, and C. Over time, I've honed my skills and expanded my expertise to encompass a wide range of technologies including React, React Native, Node.js, Spring Boot, Docker, and Kubernetes.
      <p>Driven by a passion for continuous learning, I stay abreast of the latest industry trends and advancements. With a commitment to excellence and a thirst for knowledge, I strive to make a meaningful impact in the field of software development. Let's collaborate and create innovative solutions that push the boundaries of what's possible!</p>
    </p>
    </div>
    <hr />
    <div id="works" ref="works">
      <div class="works-left slidingWindow">
        <i
          id="left-arrow"
          @click="prev"
          class="fa-solid fa-chevron-left fa-lg"
        ></i>
        <div class="slides">
          <div class="window sides">
            <img
              :src="projects[prevIndex].image"
              :key="prevIndex"
              alt="items[prevIndex].image"
            />
            <p>{{projects[prevIndex].image}}</p>
          </div>
          <div class="window">
            <img
            style="height: 200px; width: 200px;"
              :src="projects[projIndex].image"
              :key="projIndex"
              alt="items[projIndex].image"
            />
            <p>{{projects[projIndex].image}}</p>
          </div>
          <div class="window sides">
            <img
              :src="projects[nextIndex].image"
              :key="nextIndex"
              alt="items[nextIndex].image"
            />
            <p>{{projects[nextIndex].image}}</p>
          </div>
        </div>

        <i
          id="right-arrow"
          @click="next"
          class="fa-solid fa-chevron-right fa-lg"
        ></i>
      </div>
      <div class="works-right">
        <p>works right content</p>
      </div>
    </div>

    <hr />
    <div ref="contact" id="contact"></div>
    <script src="index.js" type="module"></script>
  </body>
</html>
